* {
    font-family: 'Outfit', sans-serif;
  }
  
  .header{
    background-repeat: no-repeat;
    background-image: url(background.svg);
    background-color: #fed7aa;
    background-position: right;
   }
  
   .bookmark:hover::before {
    content: "\f02e";
    font-weight: 900;
  }
  
  .favorite:hover::before {
    content: "\f004";
    font-weight: 900;
  }
  
  @keyframes like {
      0% {
          transform: translatey(0px);
      }
      100% {
          transform: translatey(-8px) scale(200);
      }
      
  }
  
  @keyframes bookmarkd {
      0% {
          transform: translatey(0px);
      }
      50% {
          transform: translatey(-10px);
      }
      100% {
          transform: translatey(0px);
      }
  }
  
  .heart.active {
    color: rgb(239,68,68);
 }
  
  .bookmark.active {
    color: rgb(59,130,246);
    transition: all 0.8s;
    animation: bookmarkd 0.8s ease-in-out;
  }